<section>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%">
    <mat-form-field class="input-width">
      <input
      type="email"
      matInput
      placeholder="Email"
      ngModel
      name="email"
      email
      required
      #emailInput="ngModel">
      <mat-error *ngIf="!emailInput.hasError('required')">Email no valido</mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">Email vacio</mat-error>
    </mat-form-field>
    <mat-form-field class="input-width" hintLabel="Debe ser al menos 6 caracteres">
      <input
      [type]="hide ? 'password' : 'text'"
      matInput
      placeholder="Contraseña"
      ngModel
      name="password"
      required
      minlength="6"
      #pwInput="ngModel">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint align="end">{{ pwInput.value?.length}} / 6</mat-hint>
      <mat-error>Debe tener al menos 6 caracteres</mat-error>
    </mat-form-field>
      <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid">Iniciar Sesión</button>
      <p>¿Aún no te registras? Regístrate <a routerLink="/signup">aquí</a> </p>
  </form>
</section>


