<mat-nav-list>
  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>person</mat-icon>
    <span class="navigation-caption">Iniciar Sesión</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>person_add</mat-icon>
    <span class="navigation-caption">Registro</span>
  </a>
  <a mat-list-item routerLink="/" (click)="onClose()">
    <mat-icon>cloud_upload</mat-icon>
    <span class="navigation-caption">Subir</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>exit_to_app</mat-icon>
      <span class="navigation-caption">Cerrar Sesión</span>
    </button>
  </mat-list-item>
</mat-nav-list>
