a {
  text-decoration: none;
  color: white;
}
a:hover,
a:active {
  color: lightgray;
}
.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 15px;
}
.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.uppercase {
  text-transform: uppercase;
}
