<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a *ngIf="isAuth" class="uppercase">{{username}}</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end stretch">
    <ul fxLayout class="navigation-items" fxHide.xs>
      <li routerLinkActive="active" *ngIf="!isAuth"><a routerLink="/login">Iniciar Sesión</a></li>
      <li routerLinkActive="active" *ngIf="!isAuth"><a routerLink="/signup">Registro</a></li>
<!--         <li routerLinkActive="active" *ngIf="isAuth"><a routerLink="/upload">Compartir</a></li> -->
      <li routerLinkActive="active" *ngIf="isAuth"><a routerLink="/">Bienvenido</a></li>
      <li *ngIf="isAuth"><a (click)="logout()">Cerrar Sesión</a></li>
    </ul>
  </div>
</mat-toolbar>
