<section>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%">
    <mat-form-field ngClass="input-width">
      <input
      type="text"
      name="username"
      matInput
      placeholder="Un nombre de usuario"
      ngModel
      required
      #nameInput="ngModel">
      <mat-error *ngIf="nameInput.hasError('required')">Nombre de usuario vacio</mat-error>
    </mat-form-field>
    <mat-form-field class="input-width">
      <input
      type="email"
      matInput
      placeholder="Tu email"
      ngModel
      name="email"
      email
      required
      #emailInput="ngModel">
      <mat-error *ngIf="!emailInput.hasError('required')">Email no valido</mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">Email vacio</mat-error>
    </mat-form-field>
    <mat-form-field class="input-width" hintLabel="Debe ser al menos 6 caracteres">
      <input
      type="password"
      matInput
      placeholder="Ingresa una contraseña"
      ngModel
      name="password"
      required
      minlength="6"
      #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length}} / 6</mat-hint>
      <mat-error>Debe tener al menos 6 caracteres</mat-error>
    </mat-form-field>
      <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid">Registrarse</button>
      <p>¿Ya estas registrado? Inicia sesión <a routerLink="/login">aquí</a></p>
  </form>
</section>

